<p style="color: green"><%= notice %></p>

<div class="row mb-10">
  <div class="col-sm ">
    <h4 class="container mt-4" >List of Art Pieces</h4>
  </div>
  <div class="col-sm 10">
    <% if current_user.is_admin? %>
      <div style="margin-top: 20px;">
        <div class="text-center">
          <%= link_to "New art piece", new_art_piece_path, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= form_tag art_pieces_path, method: :get, class: 'form-inline mb-4' do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: 'form-control', style: 'width: auto; margin-top: 15px;', placeholder: 'Search for art piece' %>
  </div>
  <%= submit_tag 'Search', class: 'btn btn-primary', style: 'margin-top: 15px;' %>
<% end %>


<div id="art_pieces_main" class="container mt-4" >
  <% @art_pieces.each do |art_piece| %>
    <div class="card">
      <div class="card-header" id="<%=art_piece.name%>">
        <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="<%='#id'+art_piece.id.to_s%>" aria-controls="<%="id"+art_piece.id.to_s%>">
              <%=art_piece.name%>
            </button>
        </h5>
      </div>

      <div id="<%="id"+art_piece.id.to_s%>" class="collapse">
        <div class="card p-3 mb-3" style="background-color: #f5f5dc;">
          <%= image_tag art_piece.get_icon, size: "100x100" %>

          <%= render art_piece %>
          <%= link_to "Show this art piece", art_piece, class: "btn btn-primary" %>
          <%= link_to "View on website", art_piece.website_link , class: "btn btn-primary mt-1" %>
          <p>Distance to you: <%= art_piece.distance_to_pretty(session[:latitude].to_f, session[:longitude].to_f) %></p>

        </div>
      </div>
    </div>
  <% end %>
</div>
<br>

