<h4 style="color: blue;">Admin Panel</h4>

<%= form_tag admin_panel_users_path, method: :get, class: 'form-inline mb-4' do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], class: 'form-control', style: 'width: auto; margin-top: 15px;', placeholder: 'Search for users' %>
  </div>
  <%= submit_tag 'Search', class: 'btn btn-primary', style: 'margin-top: 15px;' %>
<% end %>


<h4 style="color: blue;">App Settings</h4>

<%= link_to "Configure app settings", app_setting_path, class: "btn btn-primary" %>

<br><br>

<h4 style="color: blue;">Engagement Tracking</h4>
     
<table class="table">
  <thead>
    <tr>
      <th>Last Duration</th>
      <th>Number of Stamps Collected</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td>1 Hour</td>
      <td> <%= @stamps_users %></td>
      </tr>
  </tbody>
  <tbody>
      <tr>
      <td>1 Day</td>
      <td> <%= @stamps_users_day %></td>
      </tr>
  </tbody>

  <tbody>
      <tr>
      <td>1 Week</td>
      <td> <%= @stamps_users_week %></td>
      </tr>
  </tbody>
</table>


<h4 style="color: blue;">Users</h4>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Admin</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td>
          <%= form_tag toggle_admin_users_path, method: :post do %>
            <%= hidden_field_tag :user_id, user.id %>
            <%= check_box_tag 'admin', 'true', user.is_admin?, onchange: 'this.form.submit()' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
