<div class="container mt-4">
  <h4>User Details</h4>
  <div class="card p-3" style="background-color: #f5f5dc;">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                <%= form_with model: @user, url: user_path, method: :patch do |form| %>
                    <div class="row">
                    <div class="col-sm-6">
                        <%= form.label :name, "Full Name" %>
                    </div>
                    <div class="col-sm-6 text-secondary text-sm-right">
                        <%= form.text_field :name, class: 'form-control' %>
                    </div>
                    </div>
                    <%= form.submit 'Update', class: 'btn btn-primary mt-3' %>
                <% end %>
                </div>


              <hr>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                  <%= @user.email %>
                  
                </div>
              </div>
              <!-- Other user details -->
            </div>
          </div>

          

        </div>
      </div>
    </div>
  </div>
</div>
